<div class="my-container">

    <div class="login-box max-w-96 m-auto p-5 mt-16 rounded-xl color-form-shadow-swithing color-text-switching">

        <h2 class="text-2xl mb-8">Forgot Password?</h2>

        <div class="flex flex-col mb-3">
            <label class="text-sm sm:text-base max-w-48 mb-2">Your email</label>
            <input class="text-sm sm:text-base h-10 outline-none px-2 rounded border-none color-input-switching"
                [(ngModel)]="email" type="email">
        </div>

        <button
            class="my-button block m-auto w-full h-8 rounded border-none color-component-switching cursor-pointer mt-6 color-form-shadow-swithing text-base" type="button" (click)="forgotPassword()"
            >Send Link</button>

    </div>

</div>

<!-- Повідомлення про помилку -->
<div *ngIf="errorMessage"
class="fixed bottom-5 left-1/4 m-auto bg-red-500 w-1/2 p-4 rounded mt-2 flex justify-center">
<p class="text-white">{{errorMessage}}</p>
</div>