<div class="my-container pb-8">

    <div class="w-full">

        <!-- Компонет для пошуку фільмів -->
         
        <app-search></app-search>

        <!-- Списки фільмів -->

        <div *ngIf="receviedFilm"
            class="w-full flex gap-8 flex-wrap justify-center">


            <!-- Блок з фільмом -->

            <div *ngFor="let film of films"
                class="elative h-auto color-text-switching pb-4 color-shadow-switching overflow-hidden bg-white/[.03] backdrop-blur-sm rounded-2xl my-shadow cursor-pointer text-center w-56 max-[520px]:w-32">

                <app-film-block [routerLink]="['Information', film.imdbID]" [film]="film"></app-film-block>

                <!-- Кнопка зберегти в збережені -->

                <app-button-add-to-save [film]="film" class="absolute top-0 w-6 right-6"></app-button-add-to-save>

            </div>

        </div>

        <!-- Переключання між сторінками та пошук сторінки -->

        <div *ngIf="receviedFilm" class="flex gap-8 justify-center mt-8 flex-wrap">

            <div class="flex items-center block-border rounded">
                <p class="color-text-switching ml-2 border-right pr-2">Search by page</p>
                <input (keyup.enter)="enterPage()" [(ngModel)]="enterPageNumber"
                    class="w-10 h-full items-center outline-none color-text-switching bg-inherit border-none text-base text-center"
                    type="nuber" placeholder="{{enterPageNumber}}">
            </div>

            <div class="flex items-center gap-2 block-border rounded">
                <button
                    class="my-button p-2 color-component-switching color-text-switching rounded-sm border-none cursor-pointer"
                    (click)="prevPage()">Prev</button>

                <div class="flex items-center gap-2 color-text-switching">
                    <p>{{page}}</p>
                    <p> / {{maxNumberPage}}</p>
                </div>

                <button
                    class="my-button p-2 color-component-switching color-text-switching rounded-sm border-none cursor-pointer"
                    (click)="nextPage()">Next</button>

            </div>
        </div>

        <!-- Повідомлення -->

        <div *ngIf="message !== ''" class="fixed bottom-5 left-1/4 m-auto bg-green-500 w-1/2 p-4 rounded mt-2 flex justify-center">
            <p class="text-white">{{message}}</p>
          </div>
          
          <div *ngIf="errorMessage !== ''" class="fixed bottom-5 left-1/4 m-auto bg-red-500 w-1/2 p-4 rounded mt-2 flex justify-center">
            <p class="text-white">{{errorMessage}}</p>
          </div>


    </div>
</div>

<!-- Лоадер -->

<div *ngIf="searchProces" class="loader"></div>