
    <div class="flex items-center justify-center h-full relative">

        <div class="absolute top-0 left-0">
            <h2 class="text-xl">Imdb Rating</h2>
        </div>

        <div class="w-40 h-40 color-bg-switching rounded-full" >
  
            <div class="w-40 h-40 bg-blue-400 rounded-full my-progres-rating flex justify-center items-center">
                
                <div class="w-36 h-36 color-component-switching text-blue-400 rounded-full flex justify-center items-center">
                    <p class="text-6xl">{{rating}}</p>
                </div>
        
            </div>
        
        </div>

    </div>

