<div class="my-container">

  <app-search></app-search>

  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideBigConfig">

    <div ngxSlickItem *ngFor="let slide of slidesBig"
      class="text-center m-2 text-white relative bg-white/[.03] backdrop-blur-sm rounded-2xl my-shadow">

      <div [routerLink]="['Information', slide.id]"
        class="cursor-pointer h-96 overflow-hidden my-hover object-cover bg-center max-sm:h-56"
        [ngStyle]="{'background-image': 'url(' + slide.bg + ')'}" [attr.loading]="'lazy'">

        <div class="w-72 h-full pt-5 bg-black/[.6] max-sm:w-full max-sm:flex max-sm:gap-2">
        
          <img src="{{slide.img}}" alt="" class="m-auto w-44 object-cover max-sm:w-auto max-sm:h-5/6 max-sm:ml-2" loading="lazy">
        
          <div class="max-sm:w-10/12">

            <h2 class="p-2 flex-grow max-sm:text-xl max-sm:text-left">{{slide.name}}</h2>
        
            <div class="flex gap-2 flex-wrap justify-center my-hover-elem max-sm:justify-start">
        
              <p class="border px-2 py-1 rounded border-white">{{slide.type}}</p>
              <p class="border px-2 py-1 rounded border-white">{{slide.year}}</p>
        
            </div>
        
          </div>
        
        </div>

      </div>

      <!-- Кнопка зберегти в збережені -->
      <div class="absolute top-0 w-6 right-6 film-save cursor-pointer"
        (click)="sendInfo(slide)">

        <div class="relative">

          <i
            class="fa-solid fa-bookmark my-bookmark absolute top-0 size-large-icon text-blue-900 film-save cursor-pointer">
          </i>
          <i class="fa-solid fa-plus my-plus absolute top-1 text-blue-600 left-3/4"></i>

        </div>

      </div>

    </div>

  </ngx-slick-carousel>

  <div class="flex gap-4 mt-4">

    <div class="w-1/6 my-shadow h-full rounded-md overflow-hidden filter-home">
      <app-home-filter></app-home-filter>
    </div>

    <div class="w-5/6 home-content">

      <h2 class="color-text-switching text-lg text-center py-1 color-component-switching">Best in 2024</h2>

      <ngx-slick-carousel class="carousel " #slickModal="slick-carousel" [config]="slideConfig">

        <div ngxSlickItem *ngFor="let slide of slidesBestIn2024"
          class="text-center m-2 h-96 color-text-switching relative bg-white/[.03] backdrop-blur-sm rounded-2xl my-shadow max-[300px]:h-64 max-[750px]:h-80">

          <div [routerLink]="['Information', slide.id]" class="cursor-pointer pt-5 px-2 h-96 overflow-hidden group max-[300px]:h-64 max-[470px]:h-80 max-[750px]:h-80">

            <img src="{{slide.img}}" alt="" class="m-auto w-52 object-cover group-hover:w-44 ease-in-out duration-1000 max-[300px]:w-32 max-[300px]:group-hover:w-24 max-[750px]:w-40 max-[750px]:group-hover:w-32 max-md:w-48 max-md:group-hover:w-40" >
           
            <h2 class="p-2 flex-grow max-[300px]:text-sm">{{slide.name}}</h2>

            <div class="flex gap-2 flex-wrap justify-center group-hover:translate-y-0 translate-y-28 duration-1000 ease-in-out my-hover-elem max-sm:text-sm max-[300px]:text-sm">

              <p class="border px-2 py-1 rounded border-zinc-400">{{slide.type}}</p>
              <p class="border px-2 py-1 rounded border-zinc-400">{{slide.year}}</p>

            </div>

          </div>

          <!-- Кнопка зберегти в збережені -->
          <div class="absolute top-0 w-6 right-6 film-save cursor-pointer"
            (click)="sendInfo(slide)">

            <div class="relative">

              <i
                class="fa-solid fa-bookmark my-bookmark absolute top-0 size-large-icon text-blue-900 film-save cursor-pointer">
              </i>
              <i class="fa-solid fa-plus my-plus absolute top-1 text-blue-600 left-3/4"></i>

            </div>

          </div>

        </div>

      </ngx-slick-carousel>

      <h2 class="color-text-switching text-lg text-center py-1 color-component-switching mt-5">Recommend</h2>

      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">

        <div ngxSlickItem *ngFor="let slide of slidesRecomend"
          class="text-center m-2 h-96 color-text-switching relative bg-white/[.03] backdrop-blur-sm rounded-2xl my-shadow max-[300px]:h-64 max-[750px]:h-80">

          <div [routerLink]="['Information', slide.id]" class="cursor-pointer pt-5 px-2 h-96 overflow-hidden group max-[300px]:h-64 max-[470px]:h-80 max-[750px]:h-80">

            <img src="{{slide.img}}" alt="" class="m-auto w-52 object-cover group-hover:w-44 ease-in-out duration-1000 max-[300px]:w-32 max-[300px]:group-hover:w-24 max-[750px]:w-40 max-[750px]:group-hover:w-32 max-md:w-48 max-md:group-hover:w-40" >
           
            <h2 class="p-2 flex-grow max-[300px]:text-sm">{{slide.name}}</h2>

            <div class="flex gap-2 flex-wrap justify-center group-hover:translate-y-0 translate-y-28 duration-1000 ease-in-out my-hover-elem max-sm:text-sm max-[300px]:text-sm">

              <p class="border px-2 py-1 rounded border-zinc-400">{{slide.type}}</p>
              <p class="border px-2 py-1 rounded border-zinc-400">{{slide.year}}</p>

            </div>

          </div>

          <!-- Кнопка зберегти в збережені -->

          <div class="absolute top-0 w-6 right-6 film-save cursor-pointer"
            (click)="sendInfo(slide)">

            <div class="relative">

              <i
                class="fa-solid fa-bookmark my-bookmark absolute top-0 size-large-icon text-blue-900 film-save cursor-pointer">
              </i>

              <i class="fa-solid fa-plus my-plus absolute top-1 text-blue-600 left-3/4"></i>

            </div>

          </div>

        </div>

      </ngx-slick-carousel>

    </div>

  </div>

</div>

<!-- Повідомлення про успішний вхід -->
<div *ngIf="message !== ''" class="fixed bottom-5 left-1/4 m-auto bg-green-500 w-1/2 p-4 rounded mt-2 flex justify-center">
  <p class="text-white">{{message}}</p>
</div>

<div *ngIf="errorMessage !== ''" class="fixed bottom-5 left-1/4 m-auto bg-red-500 w-1/2 p-4 rounded mt-2 flex justify-center">
  <p class="text-white">{{errorMessage}}</p>
</div>