<div class="my-container pb-8">

  <!-- Компонент для пошуку фільмів -->

  <app-search></app-search>

  <!-- Великий банер з інформацією про фільми -->

  <app-home-film-poster></app-home-film-poster>

  <div class="flex gap-8 mt-8">

    <!-- Фільтер у правій колонці -->
     
    <div class="w-1/6 my-shadow h-full rounded-md overflow-hidden filter-home">

      <app-home-filter></app-home-filter>

    </div>

    <div class="w-5/6 home-content flex flex-col gap-8">


         <h2 class="color-text-switching text-lg text-center py-1 color-component-switching rounded-lg">Best in 2024</h2>

        <!-- Слайдер з найкращими фільмами у 2024 році -->

         <app-home-slider-best-2024></app-home-slider-best-2024>



        <h2 class="color-text-switching text-lg text-center py-1 color-component-switching rounded-xl">Recommend</h2>

        <!-- Слайдер з рекомендованими фільмами -->

        <app-home-slider-recomend></app-home-slider-recomend>
        
    </div>

  </div>

</div>

<!-- Повідомлення про успішний вхід -->

<div *ngIf="message !== ''" class="fixed bottom-5 left-1/4 m-auto bg-green-500 w-1/2 p-4 rounded mt-2 flex justify-center">

  <p class="text-white">{{message}}</p>

</div>

<!-- Повідомлення про помилку -->

<div *ngIf="errorMessage !== ''" class="fixed bottom-5 left-1/4 m-auto bg-red-500 w-1/2 p-4 rounded mt-2 flex justify-center">

  <p class="text-white">{{errorMessage}}</p>

</div>