

body[data-theme="night"]{
    --color-text: #b5c2d4;
    --color-bg: #0f172a;
    --color-component: #1e293b;
    --color-link-text: rgba(255, 255, 255, 0.4);
    --color-link: rgba(255, 255, 255, 0.6);
    --color-shadow: rgba(90,220,226,0.75);
    --opacity-darkening: #01010100;
  }
  body[data-theme="day"]{
    --color-text: #1e293b;
    --color-bg: hsl(0, 0%, 98%);
    --color-component: rgb(227, 227, 227);
    --color-link-text: rgba(21, 21, 65, 0.4);
    --color-link: rgba(21, 21, 65, 0.6);
    --color-shadow: rgb(179, 196, 197);
    --opacity-darkening: #01010100;
  }
  body[data-theme="nightDarkening"]{
    --color-text: #b5c2d4;
    --color-bg: #0f172a;
    --color-component: #1e293b;
    --color-link-text: rgba(255, 255, 255, 0.4);
    --color-link: rgba(255, 255, 255, 0.6);
    --color-shadow: rgba(90,220,226,0.75);
    --opacity-darkening: #01010179;
  }
  body[data-theme="dayDarkening"]{
    --color-text: #1e293b;
    --color-bg: hsl(0, 0%, 98%);
    --color-component: rgb(227, 227, 227);
    --color-link-text: rgba(21, 21, 65, 0.4);
    --color-link: rgba(21, 21, 65, 0.6);
    --color-shadow: rgb(179, 196, 197);
    --opacity-darkening: #01010179;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body { 
  height: 100%; 
}

body{
    background-color: var(--color-bg);
}
.darcnes-window{
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  background-color: var(--opacity-darkening);
  pointer-events: none;
}
.my-container{
    max-width: 1200px;
    padding: 0 10px;
    margin: auto;
}
.color-text-switching{
  color: var(--color-text);
}
.color-bg-switching{
  background-color: var(--color-bg);
}
.color-component-switching{
  background-color: var(--color-component);
}
.color-input-switching{
  background-color: var(--color-component);
  color: var(--color-text);
}
.color-link-text-switching{
  color: var(--color-link-text);
}
.color-link-switching{
  color: var(--color-link);
}
.color-shadow-switching{
  box-shadow: 0px 0px 10px 0px var(--color-shadow);
}
.color-serch-shadow-switching{
  box-shadow: 0px 0px 10px 0px var(--color-shadow); 
}
.color-form-shadow-swithing{
  box-shadow: 0px 0px 5px 0px var(--color-text);
}
.imput-color{
  background-color: var(--color-component);
  color: var(--color-text);
}
.border-color-switching{
  border-color: var(--color-text);
}
.btn-active-switching{
  background-color: var(--color-text);
  color: var(--color-bg);
}
.btn-no-active-switching{
  background-color: var(--color-bg);
  color: var(--color-text);
}
.btn-hover:hover {
  color: var(--color-text);
  background-color: var(--color-bg);
  border: 1px solid var(--color-text);
}

.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000c3;
  z-index: 100;
}
.loader-hiaden{
  opacity: 0;
  visibility: hidden;
}
.loader::after{
  content: '';
  width: 75px;
  height: 75px;
  border: 10px solid gainsboro;
  border-top-color: #00bcfb;
  border-radius: 50%;
  animation: loadding 0.75s ease infinite;
}
.media-h {
  height: 450px;
}
.my-shadow{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.my-hover:hover .my-hover-elem{
  transform: translate(0);
  transition: 0.8s;
}
.my-hover:hover .my-hover-img{
  width: 228px;
  transition: 0.8s;
}
.my-button:hover{
  color: var(--color-text);
  background-color: var(--color-bg);
  border: 1px solid var(--color-text);
}

input:-webkit-autofill {
  background-color: var(--color-component) !important;
  -webkit-box-shadow: 0 0 0 1000px var(--color-component) inset !important;
  box-shadow: 0 0 0 1000px var(--color-component) inset !important;
  -webkit-text-fill-color: var(--color-text) !important;
}

/* border для кнопок пігінації */

.block-border {
  border: 1px solid var(--color-text);
}
.border-right {
  border-right: 1px solid var(--color-text);
}

/* Кнопка додати в збережені */

.size-large-icon{
  font-size: xx-large;
}

.film-save:hover .my-bookmark {
  color: rgb(23 37 84 / var(--tw-text-opacity));
}

/* Meterial */

/* input */
.mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color: var(--color-component) !important;
  color: var(--color-text) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
  color: var(--color-text) !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: var(--color-text) !important;
}
.mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before {
  display: none !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color: var(--color-component) !important;
}

/* ScrollBar */

.my-scrolbar.overflow-auto::-webkit-scrollbar {
  width: 2px; 
}

.my-scrolbar.overflow-auto::-webkit-scrollbar-thumb {
  background-color: #4b5563; 
  border-radius: 4px;
}

.my-scrolbar.overflow-auto::-webkit-scrollbar-thumb:hover {
  background-color: #374151; 
}


@keyframes loadding {
  from { transform: rotate(0turn) }
  to { transform: rotate(1turn) }
}

@media screen and (max-width: 1024px) {
  .mat-mdc-text-field-wrapper{
    border-radius: 0px !important;
  }
}